body {
  overflow: hidden; /* Hide scrollbars */
  border-color: transparent;
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: linear-gradient(56deg, rgba(146, 57, 57, 1) 0%, rgba(165, 42, 101, 0.8299999833106995) 100%);
}

.parent_container{
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0; 
  

  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}


model-viewer{
  position: absolute;
  margin-bottom: 7%;
  scale: 4;
}

.HotspotAnnotation{
  z-index: 5;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: .5vh;
  font-weight: 700;
  max-width: 128px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  width: max-content;
  height: max-content;
  transform: translate3d(-50%, -50%, 0);
  --min-hotspot-opacity: 0;
}


.serverTextContainer{
  position: absolute;
  top: 80%;

  display: flex;
  flex-direction: row;
}

.circle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 15px;
}

.dot {
  height: 2.2vh;
  width: 2.2vh;
  background-color: rgb(250, 93, 93);
  /* rgb(139 243 130 / 83%); */
  border-radius: 50%;
  vertical-align: baseline;
}

.server_text{
  vertical-align: baseline;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-size: 3.5vh;
  line-height: 58px;
  color: #efb6b6;
}

.button{
  position: absolute;
  top: 61%;
  left: 40%;
}

.home_start{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-size: 3.5vh;
  line-height: 58px;
  color: #a79ba7;

  cursor: pointer;
}


@media(max-width:321px){
  #modelCar{
    scale: 4;
  } 
}
/* For 1024 Resolution */  
@media only screen   
and (min-device-width : 768px)   
and (max-device-width : 1024px)  
{   
    #modelCar{
      scale: 4;
    } 
}  
